
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
* {
	box-sizing: border-box;
	text-decoration: none;
    font-family: 'Architects Daughter', cursive;
}

html, body {
	font-weight: 500;
	font-size: 17px;
	color: #E6E6FA;
	margin: 0;
	padding: 0;
}

#page {
	position: relative;
	width: 100%;
	height: 100%;

<!--Navigation Menu -->
}
.nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	display: inline;
	margin: 0;
	font-family: 'Architects Daughter', cursive;
}
.nav a {
	display: inline;
	padding: .5em;
	color: #9370DB;
	font-weight: bold;
}
.nav li a:hover {
	background-color:#E6E6FA;
}
.main-nav {
	text-align: right;
	font-size: 1em;
	font-weight: lighter;
	padding-bottom: 10px;
	border-bottom: 2px solid rgb(175,238,238);
}
.main-head {
	background-image: url("image/14.jpg");
	padding-bottom: 20px;
	margin: 0px;
	padding-top: 20px;

}
.title-display {
	text-align: center;
	margin:0;
	font-size: 80px;
	font-family: 'Dancing Script', cursive;
	color: #9370DB;
	font-weight: bold;
}
.resume-main {
	margin: 1em;
	color: #9370DB;
	font-weight: 200;
	
}
.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 5em;
	padding-bottom: 2em;
	background-image: url("image/14-2.jpg");
	border: 3px solid rgb(175,238,238);
	margin-top: 2em;
	margin-bottom: 2em;
}
.resume-title {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	text-align: center;
}
.about-image {
	border-radius: 75%;
	border: 5px solid rgb(175,238,238);
	margin: 0 0 2em 28em;
	display: inline;
}
.home-image {
	padding-top: 5em; 
}
.main-footer {
    padding: .5em 0;
	background-color: #DDA0DD;
	color: #DA70D6;
	border-top: 2px solid rgb(175,238,238);
	text-align: center;
}
.main-footer ul {
	margin: 0;
	padding: 0;
}
.main-footer li {
	margin: 0;
	font-family: 'Architects Daughter', cursive;
}
.main-footer a {
	padding: 0 5em;
	color: #E6E6FA;
}
.about-me {
	max-width: 900px;
	margin: 0 auto;
	padding-left: 22em;
}
#table-skills {
	width: 1200px;
	height: 800px;
	text-align: center;
}
#table-content {
	width: 1200px;
	height: 700px;
	padding-left: 150px;	
}
.icon {
	width: 150px;
	height: 150px;
	border-radius: 75%;
	border: 5px solid rgb(175,238,238);
}
.skill-icon {
	width: 250px;
	height: 230px;
	border-radius: 75%;
	border: 5px solid rgb(175,238,238);
}
.education-icon {
    width: 250px;
	height: 230px;
	border-radius: 75%;
	border: 5px solid rgb(175,238,238);
    align-items: center;
}
.bio {
	width: 120px;
	height: 120px;
	float: left;
	margin-left: 18em;
}
hr {
	height: 5px;
	color: #E6E6FA;
}
